.git
.gitignore
.env
.env.*
node_modules
vendor
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/debugbar
tests
docker-compose.yml
Dockerfile*
README.md
